<!doctype html>
<html lang="en">
<head>
    <title>Websocket ChatRoom</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<div class="container" id="app">
    <div>
        <h2 id="room-name"></h2>
    </div>
    <ul class="list-group" id="messages-list">
    </ul>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">내용</label>
        </div>
        <input type="text" class="form-control" id="message-input">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="send-button">보내기</button>
        </div>
    </div>

    <div></div>
</div>
<!-- JavaScript -->
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script>

    // Thymeleaf 모델 속성을 자바스크립트 변수로 할당
    const nickname = /*[[${nickname}]]*/ 'defaultNickname';

    // websocket & stomp initialize
    const sock = new SockJS("/ws-stomp");
    const ws = Stomp.over(sock);

    // DOM elements
    const roomNameElem = document.getElementById('room-name');
    const messageInputElem = document.getElementById('message-input');
    const sendButtonElem = document.getElementById('send-button');
    const messagesListElem = document.getElementById('messages-list');

    // Application state
    const roomId = localStorage.getItem('wschat.roomId');
    // const sender = localStorage.getItem('wschat.sender');
    const sender = nickname; // nickname을 sender로 사용
    let room = {};
    let messages = [];

    // Initialize
    findRoom();
    setupEventHandlers();

    function findRoom() {
        axios.get('/chat/room/' + roomId).then(response => {
            room = response.data;
            roomNameElem.textContent = room.name;
        });
    }

    function sendMessage() {
        const message = messageInputElem.value;
        if (message.trim() === '') {
            alert("내용을 입력하세요.");
            return;
        }
        ws.send("/pub/chat/message", {}, JSON.stringify({
            type: 'TALK',
            roomId: roomId,
            sender: sender,
            message: message
        }));
        messageInputElem.value = '';
    }

    function formatTime(date) {
        const hours = date.getHours().toString().padStart(2, '0');
        const minutes = date.getMinutes().toString().padStart(2, '0');
        const ampm = hours >= 12 ? '오후' : '오전';
        const formattedHours = hours % 12 || 12; // Convert to 12-hour format
        return `${ampm} ${formattedHours}:${minutes}`;
    }


    function recvMessage(recv) {
        const messageItem = document.createElement('li');
        messageItem.className = 'list-group-item';

        const messageData = document.createElement('div');
        messageData.className = 'message-data';

        const messageDataTime = document.createElement('div');
        messageDataTime.className = 'message-data-time';
        messageDataTime.textContent = formatTime(new Date());

        const messageDataMember = document.createElement('div');
        messageDataMember.className = 'message-data-member';
        messageDataMember.textContent = (recv.type === 'ENTER' ? '[알림]' : recv.sender) ;

        const chatMessageText = document.createElement('div');
        chatMessageText.className = 'chat-message-text';
        chatMessageText.textContent = recv.message;

        messageData.appendChild(messageDataTime);
        messageData.appendChild(messageDataMember);

        messageItem.appendChild(messageData);
        messageItem.appendChild(chatMessageText);

        messagesListElem.insertBefore(messageItem, messagesListElem.firstChild);
    }


    function setupEventHandlers() {
        sendButtonElem.addEventListener('click', sendMessage);
        messageInputElem.addEventListener('keyup', function(event) {
            if (event.key === 'Enter') {
                sendMessage();
            }
        });

        ws.connect({}, function(frame) {
            ws.subscribe("/sub/chat/room/" + roomId, function(message) {
                const recv = JSON.parse(message.body);
                recvMessage(recv);
            });
            ws.send("/pub/chat/message", {}, JSON.stringify({
                type: 'ENTER',
                roomId: roomId,
                sender: sender
            }));
        }, function(error) {
            alert("error " + error);
        });
    }
</script>
</body>
</html>
