<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org" th:fragment="template(title, script, css, content)">
<head>
    <meta charset="UTF-8">
    <!-- 동적으로 바뀌는 부분-->
    <title th:replace="${title}"></title>
    <th:block th:replace="${script}"></th:block>
    <th:block th:insert="${css}">
        <link rel="stylesheet" href="/css/index.css">
    </th:block>
</head>
<body>
<nav>
    <div class="nav-bar">
        <div id="nav-menu">
            <a href="/">처음으로</a>
            <p>ㅣ</p>
            <a href="/map">우리동네</a>
            <p>ㅣ</p>
            <a href="/daily/2" th:href="@{/daily/{categoryId}(categoryId=2)}">일상공유</a>
            <p>ㅣ</p>
            <a href="/meet/3">동네친구</a>
            <p>ㅣ</p>
            <a href="/chat">대화하기</a>
            <th:block th:if="${session.loginMember} != null">
                <th:block th:if="${session.loginMember.memberId.equals('admin')}">
                    <p>ㅣ</p>
                    <a href="http://localhost:3000/admin">관리자 페이지</a>
                </th:block>
            </th:block>
        </div>
        <th:block th:if="${session.loginMember == null}">
            <div class="nav-member">
                <a class="nav-signup" href="/member/signup">무료 회원가입</a>
                <a class="nav-login" href="/member/login">로그인</a>
            </div>
        </th:block>
        <th:block th:if="${session.loginMember != null}">
            <div class="nav-member">
                <a class="nav-login-info" href="/member/mypage" th:text="|[${session.loginMember.nickname}]님|"></a>
                <a class="nav-logout" href="/member/logout">로그아웃</a>
            </div>
        </th:block>
    </div>
</nav>

<div id="wrapper" th:replace="${content}">
</div>

<footer>
</footer>
</body>
</html>