<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/template :: template(~{this :: title}, ~{this :: script},  ~{this :: css}, ~{this :: content})}">

<head>
    <title th:fragment="title"> ::: 일상공유:게시글 제목 ::: </title>
    <th:block th:fragment="script">
    </th:block>
    <th:block th:fragment="css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/daily.css">
    </th:block>
</head>


<div class="wrapper" th:fragment="content">
    <div id="daily-read-wrap">
        <div id="daily-read-writer-wrap">
            <div id="daily-read-writer">
                <img class="profile-img" src="/img/profile.png" >
                <p id="daily-read-writer-name">김순자 최고</p>
            </div>
            <p id="daily-read-date">2024. 05. 14.(화) 17:31 작성</p>
        </div>
        <div id="daily-read-content-wrap">
            <h1 id="daily-read-title">게시글 제목 들어가유</h1>
            <p id="daily-read-content">게시글 본문 들어가유</p>
            <img id="daily-read-img" src="/img/sample1.jpg">
        </div>
        <div class="register-btn-wrap">
            <button class="back-btn">돌아가기</button>
        </div>
        <div id="like-wrap">
            <img src="/img/heart.png" id="like">
            <label for="like">좋아요</label>
            <p> ㅣ </p>
            <p>댓글(3)</p>
        </div>
        <div class="review-wrap">
            <div id="write-review">
                <p>작성자 : 김순자최고</p>
                <div id="review-text">
                    <textarea cols="62" rows="2"></textarea>
                    <button type="submit" id="write-review-btn">등록</button>
                </div>
            </div>
            <div class="review">
                <div>
                    <img src="/img/profile.png">
                </div>
                <div>
                    <ul>
                        <li class="review-writer">작성자명</li>
                        <li class="review-content">시간이 너무 빨리 지나가는 것 같아요...</li>
                    </ul>
                </div>
            </div>
            <div class="review">
                <div>
                    <img src="/img/profile.png">
                </div>
                <div>
                    <ul>
                        <li class="review-writer">작성자명</li>
                        <li class="review-content">시간이 너무 빨리 지나가는 것 같아요...</li>
                    </ul>
                </div>
            </div>
            <div class="review">
                <div>
                    <img src="/img/profile.png">
                </div>
                <div>
                    <ul>
                        <li class="review-writer">작성자명</li>
                        <li class="review-content">시간이 너무 빨리 지나가는 것 같아요...</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</html>











