<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/template :: template(~{this :: title}, ~{this :: script},  ~{this :: css}, ~{this :: content})}">

<head>
    <title th:fragment="title"> ::: 일상공유:게시글 제목 ::: </title>
    <th:block th:fragment="css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/daily.css">
    </th:block>
    <th:block th:fragment="script">
        <script src="/js/like.js" defer></script>
        <script src="/js/replytoggle.js" defer></script>
        <script src="/js/replyregister.js" defer></script>
        <script src="/js/replydelete.js" defer></script>
        <script src="/js/replyedit.js" defer></script>

    </th:block>
</head>

<div class="wrapper" th:fragment="content">
    <div id="daily-read-wrap">
        <div id="daily-read-writer-wrap">
            <div class="daily-writer">
                <img class="daily-writer-img"
                     th:src="@{/member/image/{filename}(filename=${writer.storePicture})}"/>
                <div class="test">
                    <div class="daily-writer-name" th:text="${writer.nickname}"></div>
                    <div class="toChat"><a th:href="|/chat/room/to/${writer.nickname}|" th:text="대화하기"></a></div>
                </div>
            </div>
            <div id="daily-read-info">
                <p id="daily-read-date" th:text="${dailyArticle.regdate}"></p>
                <p class="divide"> ㅣ </p>
                <p th:text="|조회수 ${dailyArticle.hitCount}|"></p>
            </div>
        </div>
        <div id="daily-read-content-wrap">
            <h1 id="daily-read-title" th:text="${dailyArticle.title}"></h1>
            <div id="daily-read-content" th:utext="${dailyArticle.content}"></div>
            <th:block th:if="${fileList == null or fileList.isEmpty()}">
                <img class="daily-read-img" th:src="@{/daily/image/default.jpg}">
            </th:block>
            <th:block th:if="${fileList != null}">
                <th:block th:each="file : ${fileList}">
                    <img class="daily-read-img" th:src="@{/daily/image/{fileName}(fileName=${file.encryptedName})}">
                </th:block>
            </th:block>

        </div>
        <div class="register-btn-wrap">
            <button class="back-btn"
                    th:onclick="|location.href='@{/daily/{categoryId}(categoryId=__${categoryId}__)}'|">돌아가기
            </button>
        </div>
        <div id="like-wrap">
            <th:block th:if="${heartCount == 1}">
                <img src="/img/heart.png" id="like" class="like">
            </th:block>
            <th:block th:if="${heartCount == 0}">
                <img src="/img/heart2.png" id="like" class="like">
            </th:block>

            <label for="like">좋아요</label>
            <p id="heartCount" th:text="${dailyArticle.totalHeartCount}"> 0 </p>
            <p> ㅣ </p>
            <p th:text="'댓글(' + ${replyCount} + ')'" id="replyToggle">댓글(3)</p>
            <p> ㅣ </p>
            <!--                        <p th:text="'#' + ${dailyArticle.tagNames}"></p>-->
            <p id="tagName">
                <span th:each="tagName : ${#strings.arraySplit(dailyArticle.tagNames, ', ')}">
                    <a th:href="@{/daily/{categoryId}(categoryId=${categoryId}, tagName=${tagName})}"
                       th:text="'#' + ${tagName}"></a>
                </span>
            </p>

            <th:block th:if="${loginMember != null}">
                <th:block th:if="${loginMember.memberId == dailyArticle.memberId}">


                    <form id="updateForm" method="get"
                          th:action="@{/daily/{categoryId}/edit/{dailyArticleId}(categoryId=${categoryId}, dailyArticleId=${dailyArticleId})}">

                        <button type="button" class="btn btn-dark" onclick="updateForm()">수정</button>
                    </form>

                    <form id="deleteForm" method="post" th:action="@{/daily/{categoryId}/delete/{dailyArticleId}}"
                          th:attr="data-categoryId=${categoryId}, data-dailyArticleId=${dailyArticleId}">


                        <button type="button" class="btn btn-dark" onclick="confirmDelete()">삭제</button>
                    </form>
                </th:block>
            </th:block>


            <script th:inline="javascript">
                function confirmDelete() {
                    if (confirm('정말로 이 게시글을 삭제하시겠습니까?')) {
                        let form = document.getElementById("deleteForm");
                        let categoryId = form.getAttribute("data-categoryId");
                        let dailyArticleId = form.getAttribute("data-dailyArticleId");
                        form.setAttribute("action", "/daily/" + categoryId + "/delete/" + dailyArticleId);
                        form.submit();
                    }
                }
            </script>


            <script>
                function updateForm() {
                    document.getElementById("updateForm").submit();
                }
            </script>

        </div>


        <th:block th:if="${loginMember != null}">

            <div class="review-wrap">
                <!--                <form method="post">-->
                <div id="write-review">
                    <p th:text="'작성자 : ' + ${loginMember.nickname}"></p>
                    <div id="review-text">
                        <textarea name="content" cols="62" rows="2"></textarea>
                        <!--                            <button type="submit" id="write-review-btn">등록</button>-->
                        <button type="button" id="write-review-btn">등록</button>
                    </div>
                </div>
                <!--                </form>-->
                <div class="review-list">

                    <div class="review" th:each="reply : ${replyList}" th:data-reply-id="${reply.replyId}">
                        <div class="review-box">
                            <div>
                                <img class="commenter" th:src="@{/member/image/{picture}(picture=${reply.picture})}">
                            </div>
                            <div>
                                <ul>
                                    <li class="review-writer" th:text="${reply.nickname}"></li>
                                    <li class="review-content" th:text="${reply.content}"></li>
                                </ul>
                            </div>
                        </div>

                        <th:block th:if="${loginMember != null}">
                            <th:block th:if="${loginMember.memberId} == ${reply.writer}">
                                <div>
                                    <button id="reply-update-btn" type="button" class="btn btn-dark">수정</button>

                                    <!--                                    <form id="deleteReplyForm" method="post"-->
                                    <!--                                          th:action="@{/daily/{categoryId}/delete-reply/{dailyArticleId}/{replyId}}"-->
                                    <!--                                          th:attr="data-categoryId=${categoryId}, data-dailyArticleId=${dailyArticleId}, data-replyId=${reply.replyId}">-->


                                    <button id="reply-delete-btn" type="button" class="btn btn-dark">삭제
                                    </button>
                                </div>
                                <!--                                    </form>-->
                            </th:block>
                        </th:block>

                        <script th:inline="javascript">
                            function confirmReplyDelete() {
                                if (confirm('정말로 이 댓글을 삭제하시겠습니까?')) {
                                    let form = document.getElementById("deleteReplyForm");
                                    let categoryId = form.getAttribute("data-categoryId");
                                    let dailyArticleId = form.getAttribute("data-dailyArticleId");
                                    let replyId = form.getAttribute("data-replyId");
                                    form.setAttribute("action", "/daily/" + categoryId + "/delete-reply/" + dailyArticleId + "/" + replyId);
                                    form.submit();
                                }
                            }
                        </script>
                    </div>
                </div>

            </div>
        </th:block>
    </div>
</div>

</html>











