<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/template :: template(~{this :: title}, ~{this :: script},  ~{this :: css}, ~{this :: content})}">

<head>
    <title th:fragment="title"> ::: 동네친구:모임 제목 ::: </title>
    <th:block th:fragment="script">
    </th:block>
    <th:block th:fragment="css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/meet.css">
    </th:block>
</head>


<div class="wrapper" th:fragment="content">
    <div id="meet-read-wrap">
        <div id="meet-read-writer-wrap">
            <div id="meet-read-writer">
                <p id="meet-read-writer-name" th:text="${meetArticle.memberId}">박재현</p>
            </div>
            <p id="meet-read-date" th:text="${meetArticle.regdate}">2024. 05. 14.(화) 17:31 작성</p>
        </div>
        <div id="meet-read-content-wrap">
            <h1 id="meet-read-title" th:text="${meetArticle.title}">다이소 같이 가실 분</h1>
            <p class="meet-read-content" th:text="${meetArticle.regdate}">-시간 : 2024. 6. 13.(목) 18:00</p>
            <p class="meet-read-content" th:text="${meetArticle.time}">-장소 : 다이소 노원역점</p>
            <p class="meet-read-content" th:text="${meetArticle.content}">본문 내용이 들어가면 됩니다</p>
        </div>
        <div class="register-btn-wrap">
            <button class="back-btn" th:onclick="|location.href='@{/meet}'|">돌아가기</button>
            <button class="register-btn">참여하기</button>
        </div>
<!--        <div id="review-count-wrap" th:text="${reply.content}">-->
<!--            <p>댓글(3)</p>-->
<!--        </div>-->
        <div class="review-wrap">
            <div id="write-review">
                <p name="writer">작성자 : 김순자최고</p>
                <div id="review-text">
                    <textarea cols="62" rows="2"></textarea>
                    <button type="submit" id="write-review-btn">등록</button>
                </div>
            </div>
            <div class="reivew" th:each="reply : ${replyList}">
                <div>
                    <ul>
                        <li class="review-writer" th:text="${reply.writer}">작성자명</li>
                        <li class="review-content" th:text="${reply.content}">시간이 너무 빨리 지나가는 것 같아요...</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</html>











