<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/template :: template(~{this :: title}, ~{this :: script},  ~{this :: css}, ~{this :: content})}">

<head>
    <title th:fragment="title"> ::: 동네친구 ::: </title>
    <th:block th:fragment="script">
    </th:block>
    <th:block th:fragment="css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/meet.css">
    </th:block>
    <style>
        .pagination {
            display: inline-block;
        }
    </style>
</head>

<div class="wrapper" th:fragment="content">
    <div id="meet-wrap">
        <h1 class="title-text">동네친구</h1>
        <div id="write-meet-wrap">
            <div id="write-meet"><a href="/meet/register" th:href="@{/meet/{categoryId}/register(categoryId=__${categoryId}__)}">모임 등록하기</a>
            </div>
        </div>
        <div id="meet-list-wrap">
            <div id="meet-search-bar">
                <Form th:action="@{/meet/{categoryId}(categoryId=${categoryId})}" th:method="get">
                    <div>
                        <input type="search" th:name="tagName">
                        <button type="submit">검색</button>
                    </div>
                </Form>
                <div>
                    <ul class="meet-tag">
                        <li><a th:href="@{/meet/{categoryId}(categoryId=${categoryId}, tagName='짝궁')}" th:text="'#짝궁'">#짝궁</a></li>
                        <li><a th:href="@{/meet/{categoryId}(categoryId=${categoryId}, tagName='건강')}" th:text="'#건강'">#짝궁</a></li>
                        <li><a th:href="@{/meet/{categoryId}(categoryId=${categoryId}, tagName='취미')}" th:text="'#취미'">#짝궁</a></li>
                        <li><a th:href="@{/meet/{categoryId}(categoryId=${categoryId}, tagName='기타')}" th:text="'#기타'">#짝궁</a></li>
                    </ul>
                </div>
            </div>
            <div class="meet-list">
                <div class="meet-post" th:each="meetArticle : ${meetArticleList}">
                    <div>
                        <h1 class="meet-post-title">
                            <a th:href="@{/meet/read/{meetArticleId}(meetArticleId=${meetArticle.meetArticleId}, categoryId=__${categoryId}__)}"
                               th:text="${meetArticle.title}">둘레길 같이 가실 분</a></h1>
                        <p th:text="'장소 '+${meetArticle.placeId}">-장소 : 노원구 수락산 둘레길</p>
                        <p th:text="'시간 '+${meetArticle.time}">-시간 : 2024. 05. 13.(월) 13:00~16:00</p>
                        <ul class="meet-tag" th:text="'태그 종류들...'">
                            <li>건강</li>
                            <li>취미</li>
                        </ul>
                    </div>
                    <div class="meet-join">
                        <a th:href="@{/meet/read/{meetArticleId}(meetArticleId=${meetArticle.meetArticleId})}">
                            <p>참여하기</p>
                            <p th:text="'('+${meetArticle.enter}+'/'+${meetArticle.enter}+')'">(1/5)</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" th:if="${pagination.showFirst}">
                    <a class="page-link"
                       th:href="@{/meet/{categoryId}(categoryId=${categoryId}, requestPage=1, tagName=${parameterForm.tagName})}">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">처음으로</span>
                    </a>
                </li>
                <li class="page-item" th:if="${pagination.showPrevious}">
                    <a class="page-link"
                       th:href="@{/meet/{categoryId}(categoryId=${categoryId}, requestPage=${pagination.previousStartPage}, tagName=${parameterForm.tagName})}">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">이전목록</span>
                    </a>
                </li>

                <th:block th:each="i : ${#numbers.sequence(pagination.getStartPage(), pagination.getEndPage())}">

                    <li class="page-item active" th:if="${i == pagination.params.requestPage}">
                        <a class="page-link"
                           th:text="${i}">1</a>
                    </li>
                    <li class="page-item" th:if="${i != pagination.params.requestPage}">
                        <a class="page-link"
                           th:href="@{/meet/{categoryId}(categoryId=${categoryId}, requestPage=${i}, tagName=${parameterForm.tagName})}"
                           th:text="${i}">2</a>
                    </li>
                </th:block>

                <li class="page-item" th:if="${pagination.showNext}">
                    <a class="page-link" href="#" aria-label="Next"
                       th:href="@{/meet/{categoryId}(categoryId=${categoryId}, requestPage=${pagination.nextStartPage}, tagName=${parameterForm.tagName})}">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">다음목록</span>
                    </a>
                </li>
                <li class="page-item" th:if="${pagination.showLast}">
                    <a class="page-link" href="#" aria-label="Next"
                       th:href="@{/meet/{categoryId}(categoryId=${categoryId}, requestPage=${pagination.totalPages}, tagName=${parameterForm.tagName})}">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">끝으로</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

</html>











