<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.springmvc.domain.dailyarticle.mapper.DailyArticleMapper">
    <!-- 신규 일상 게시글 생성 -->
    <insert id="createDailyArticle" parameterType="DailyArticleDto">
        INSERT INTO daily_article(d_article_id, title, content, category_id, member_id)
        VALUES (D_ARTICLE_ID_SEQ.nextval, #{title}, #{content}, #{categoryId}, #{memberId})
    </insert>

    <!-- 일상 게시글 번호로 게시글 조회 -->
    <select id="findByDailyArticleId" parameterType="int" resultType="DailyArticleDto">
        SELECT d_article_id "dailyArticleId", title, regdate, hitcount, category_id, member_id
        FROM daily_article
        WHERE d_article_id = #{dailyArticleId}
    </select>

    <!-- 일상 게시글 목록 조회 -->
<!--    <select id="findByAllDailyArticle" parameterType="int" resultType="DailyArticleDto">-->
<!--        SELECT d.d_article_id                  "dailyArticleId",-->
<!--               d.title,-->
<!--               d.member_id,-->
<!--               f.file_name,-->
<!--               f.encrypted_name,-->
<!--               COALESCE(SUM(h.heart_count), 0) "totalHeartCount"-->
<!--        FROM daily_article d-->
<!--                 JOIN attach_file f ON d.d_article_id = f.d_article_id-->
<!--                 LEFT JOIN heart h ON d.d_article_id = h.d_article_id-->
<!--        WHERE d.category_id = #{categoryId}-->
<!--        GROUP BY d.d_article_id, d.title, d.member_id, f.file_name, f.encrypted_name-->
<!--        ORDER BY d.d_article_id DESC-->
<!--    </select>-->

    <select id="findByAllDailyArticle" resultType="DailyArticleDto">
        SELECT dailyArticleId, title, member_id, file_name, encrypted_name, totalHeartCount
        FROM (
                 SELECT dailyArticleId, title, member_id, file_name, encrypted_name, totalHeartCount, CEIL(ROWNUM / #{searchDto.limit}) page
                 FROM (
                          SELECT d.d_article_id dailyArticleId,
                                 d.title,
                                 d.member_id,
                                 f.file_name,
                                 f.encrypted_name,
                                 COALESCE(SUM(h.heart_count), 0) totalHeartCount
                          FROM daily_article d
                                   JOIN attach_file f ON d.d_article_id = f.d_article_id
                                   LEFT JOIN heart h ON d.d_article_id = h.d_article_id
                          WHERE d.category_id = #{categoryId}
                          GROUP BY d.d_article_id, d.title, d.member_id, f.file_name, f.encrypted_name
                          ORDER BY d.d_article_id DESC
                      )
             )
        WHERE page = #{searchDto.page}
    </select>

    <!-- 태그 이름으로 게시글 목록 조회 -->
<!--    <select id="findByAllTagName" resultType="DailyArticleDto">-->
<!--        SELECT d.d_article_id                  "dailyArticleId",-->
<!--               d.title,-->
<!--               d.member_id,-->
<!--               f.file_name,-->
<!--               f.encrypted_name,-->
<!--               COALESCE(SUM(h.heart_count), 0) "totalHeartCount"-->
<!--        FROM daily_article d-->
<!--                 JOIN attach_file f ON d.d_article_id = f.d_article_id-->
<!--                 LEFT JOIN heart h ON d.d_article_id = h.d_article_id-->
<!--                 JOIN tag_article ta ON d.d_article_id = ta.d_article_id-->
<!--                 JOIN tag t ON ta.tag_id = t.tag_id-->
<!--        WHERE d.category_id = #{categoryId}-->
<!--          AND t.tag_name = #{tagName}-->
<!--        GROUP BY d.d_article_id, d.title, d.member_id, f.file_name, f.encrypted_name-->
<!--        ORDER BY d.d_article_id DESC-->
<!--    </select>-->

    <select id="findByAllTagName" resultType="DailyArticleDto">
        SELECT dailyArticleId, title, member_id, file_name, encrypted_name, totalHeartCount
        FROM (
                 SELECT dailyArticleId, title, member_id, file_name, encrypted_name, totalHeartCount, CEIL(ROWNUM / #{searchDto.limit}) page
                 FROM (
                          SELECT d.d_article_id dailyArticleId,
                                 d.title,
                                 d.member_id,
                                 f.file_name,
                                 f.encrypted_name,
                                 COALESCE(SUM(h.heart_count), 0) totalHeartCount
                          FROM daily_article d
                                   JOIN attach_file f ON d.d_article_id = f.d_article_id
                                   LEFT JOIN heart h ON d.d_article_id = h.d_article_id
                                   JOIN tag_article ta ON d.d_article_id = ta.d_article_id
                                   JOIN tag t ON ta.tag_id = t.tag_id
                          WHERE d.category_id = #{categoryId}
                            AND t.tag_name = #{tagName}
                          GROUP BY d.d_article_id, d.title, d.member_id, f.file_name, f.encrypted_name
                          ORDER BY d.d_article_id DESC
                      )
             )
        WHERE page = #{searchDto.page}
    </select>


    <!-- 일상 게시글 상세 보기 -->
    <select id="readDailyArticle" parameterType="int" resultType="DailyArticleDto">
        SELECT d.title,
               d.content,
               d.member_id,
               TO_CHAR(d.regdate, 'YYYY-MM-DD HH24:MI') regdate,
               f.file_name,
               NVL(SUM(h.heart_count), 0)               "totalHeartCount"
        FROM daily_article d
                 LEFT JOIN attach_file f ON d.d_article_id = f.d_article_id
                 LEFT JOIN heart h ON d.d_article_id = h.d_article_id
        WHERE d.category_id = #{categoryId}
          AND d.d_article_id = #{dailyArticleId}
        GROUP BY d.title, d.content, d.member_id, d.regdate, f.file_name
    </select>

    <!-- 일상 게시글 개수 조회 -->
<!--    <select id="findDailyArticleCount" parameterType="int" resultType="int">-->
<!--        SELECT count(*) count-->
<!--        FROM daily_article-->
<!--        WHERE category_id = #{categoryId}-->
<!--    </select>-->

    <!-- 특정 게시판의 검색 조건에 따른 게시글 전체 갯수 반환 -->
    <select id="findDailyArticleCount" resultType="int">
        SELECT
        COUNT(d.d_article_id) "cnt"
        FROM
        daily_article d
        LEFT JOIN tag_article ta ON d.d_article_id = ta.d_article_id
        LEFT JOIN tag t ON ta.tag_id = t.tag_id
        <where>
            d.category_id = #{categoryId}
            <if test="searchDto.tagName != null and !searchDto.tagName.isEmpty()">AND t.tag_name = #{searchDto.tagName}</if>
        </where>
    </select>


</mapper>

