<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.springmvc.domain.dailyarticle.mapper.HeartMapper">
    <!-- 좋아요 등록 -->
    <insert id="createHeart">
        INSERT INTO heart (heart_id, heart_count, d_article_id, member_id)
        VALUES (HEART_ID_SEQ.nextval, 0, #{dailyArticleId}, #{memberId})
    </insert>

    <!-- 좋아요 증가 -->
    <update id="plusHeart">
        UPDATE HEART
        SET heart_count = heart_count + 1
        WHERE d_article_id = #{dailyArticleId}
          AND member_id = #{memberId}
    </update>

    <!-- 좋아요 감소 -->
    <update id="minusHeart">
        UPDATE HEART
        SET heart_count = heart_count - 1
        WHERE d_article_id = #{dailyArticleId}
          AND member_id = #{memberId}
    </update>

    <!-- 일상 게시글 번호로 좋아요 개수 조회 -->
    <select id="findHeartCount" resultType="int">
        SELECT COALESCE(SUM(heart_count), 0) AS heart_count
        FROM heart
        WHERE d_article_id = #{dailyArticleId}
          AND member_id = #{memberId}
    </select>

    <!-- 좋아요 유무 반환 -->
    <select id="existHeart" resultType="int">
        SELECT NVL(COUNT(*), 0)
        FROM heart
        WHERE d_article_id = #{dailyArticleId}
          AND member_id = #{memberId}
    </select>

    <!-- 좋아요 총 개수 반환 -->
    <select id="findTotalHeartCount" resultType="int">
        SELECT SUM(heart_count)
        FROM heart
        WHERE d_article_id = #{dailyArticleId}
    </select>


</mapper>

