<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.springmvc.domain.dailyarticle.mapper.HeartMapper">
    <!-- 좋아요 등록 -->
    <insert id="createHeart" parameterType="HeartDto">
        INSERT INTO heart (heart_id, heart_count, d_article_id, member_id)
        VALUES (HEART_ID_SEQ.nextval, #{heartCount}, #{dailyArticleId}, #{memberId})
    </insert>


</mapper>

