<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.springmvc.domain.placemap.mapper.MapMapper">


    <!-- placeId로 장소 상세 조회 -->
    <select id="findByPlaceId" resultType="MapDto">
        SELECT place_id, place_name, address_name, x, y, map_id, road_address_name
        FROM placemap
        WHERE place_id = #{placeId}
    </select>

    <!-- 장소 정보 업데이트 -->
    <update id="updatePlaceMap">
        UPDATE placemap
        SET place_name = #{placeName},
            address_name = #{addressName},
            x = #{x},
            y = #{y},
            road_address_name = #{roadAddressName}
        WHERE place_id = #{placeId}
    </update>


    <!-- 새로운 리뷰 장소 등록  -->
    <insert id="createPlaceMap">
        INSERT INTO placemap(place_id, place_name, address_name, x, y, map_id, road_address_name)
        VALUES (#{placeId}, #{placeName}, #{addressName}, #{x}, #{y}, #{mapId}, #{roadAddressName})
    </insert>



</mapper>