<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.ezen.springmvc.domain.meetArticle.mapper.MeetArticleMapper">
    <!-- 게시글 전체 조회 -->
    <select id="findByAllMeetArticle" parameterType="int" resultType="MeetArticleDto">
        SELECT
            ma.m_article_id AS meetArticleId,
            ma.category_id AS categoryId,
            ma.title,
            ma.content,
            ma.time,
            ma.enter,
            ma.hitcount,
            ma.member_id,
            ma.place_id,
            COALESCE(mt.tags, '') "tagName"
        FROM
            meet_article ma
                LEFT JOIN
            (
                SELECT
                    ta.m_article_id,
                    LISTAGG(t.tag_name, ',') WITHIN GROUP (ORDER BY t.tag_name) AS tags
                FROM
                    tag_article ta
                    JOIN
                    tag t ON ta.t_article_id = t.t_article_id
                GROUP BY
                    ta.m_article_id
            ) mt
            ON ma.m_article_id = mt.m_article_id
        ORDER BY
            meetarticleid DESC
    </select>
    <!-- 제목으로 게시글 검색-->
    <select id="findByMeetTitle" resultType="MeetArticleDto">
        SELECT
               title,
               enter,
               category_id,
               place_id,
               hitcount,
               regdate,
               time,
               member_id
        FROM (SELECT CEIL(rownum / #{searchDto.limit})page,
                      title,
                      enter,
                      category_id,
                      place_id,
                      hitcount,
                      TO_CHAR(regdate, 'YYYY-MM-DD HH24:MI') regdate,
                      time,
                      member_id
                FROM (SELECT
                             title,
                             enter,
                             category_id,
                             place_id,
                             hitcount,
                             regdate,
                             time,
                             member_id
                            FROM meet_article
                            <where>
                                category_id = #{categoryId}
                                <if test="searchDto.title != null">AND title LIKE '%' || #{searchDto.title} || '%'</if>
                            </where>
                            ORDER BY m_article_id DESC))
        WHERE  page = #{searchDto.page}
    </select>
   <!-- 게시글 등록 -->
    <insert id="createMeetArticle" parameterType="MeetArticleDto">
        INSERT INTO meet_article (m_article_id,
                                  title,
                                  content,
                                  regdate,
                                  time,
                                  enter,
                                  hitcount,
                                  category_id,
                                  member_id,
                                  place_id)
        VALUES (m_article_id_seq.NEXTVAL,
                #{title},
                #{content},
                SYSDATE,
                SYSDATE,
                #{enter},
                0,
                #{categoryId},
                #{memberId},
                #{placeId})
        <selectKey keyProperty="meetArticleId" resultType="int" order="AFTER">
            SELECT m_article_id_seq.CURRVAL FROM dual
        </selectKey>
    </insert>
    <!-- 게시글 번호로 게시글 조회 -->
    <select id="findByMeetArticleId" parameterType="int" resultType="MeetArticleDto">
        SELECT m_article_id "meetArticleId",
               title,
               regdate,
               hitcount,
               category_id,
               member_id
        FROM meet_article
        WHERE m_article_id = #{meetArticleId}
    </select>
    <!-- 게시글 상세 보기 -->
    <select id="readMeetArticle" parameterType="int" resultType="MeetArticleDto">
        SELECT m_article_id "meetArticleId",
               title,
               content,
               category_id "categoryId",
               member_id "memberId",
               place_id "placeId",
               TO_CHAR(regdate, 'YYYY-MM-DD HH24:MI') regdate,
               TO_CHAR(time, 'YYYY-MM-DD HH24:MI') time
        FROM meet_article
        WHERE m_article_id = #{meetArticleId}
    </select>
    <!-- 조회수 증가-->
    <update id="meetHitcount" parameterType="MeetArticleDto">
        UPDATE meet_article
        SET hitcount = hitcount + 1
        WHERE m_article_id = #{meetArticleId}
        <selectKey keyProperty="hitcount" resultType="int" order="AFTER">
            SELECT hitcount FROM meet_article
            WHERE m_article_id = #{meetArticleId}
        </selectKey>
    </update>
    <!-- 게시글 갯수 -->
    <select id="findByMeetArticleCount" resultType="int" parameterType="map">
        SELECT COUNT(*)
        FROM meet_article
        WHERE category_id = #{categoryId}
    </select>

    <!-- 참여하기 -->
    <insert id="participate">
        INSERT INTO enter (category_id, m_article_id, member_id)
        VALUES (#{categoryId}, #{meetArticleId}, #{memberId})
    </insert>

    <!-- 참여취소 -->
    <delete id="cancelParticipation">
        DELETE FROM enter
               WHERE category_id = #{categoryId}
                 AND m_article_id = #{meetArticleId}
                 AND member_id = #{memberId}
    </delete>
</mapper>