<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.springmvc.domain.meetArticle.mapper.MeetReplyMapper">
    <!-- 댓글 등록 -->
    <insert id="createMeetReply" parameterType="MeetReplyDto">
        INSERT INTO reply (reply_id, content, m_article_id, writer)
        VALUES (reply_id_seq.NEXTVAL, #{content}, #{meetArticleId}, #{writer})
    </insert>
    <!-- 댓글 목록 반환 -->
    <select id="findByMeetReplyAll" parameterType="int" resultType="MeetReplyDto">
        SELECT reply_id, m_article_id "meetArticleId", writer, content
        FROM reply
        WHERE m_article_id = #{meetArticleId}
        ORDER BY reply_id DESC
    </select>
    <!-- 댓글 수 반환 -->
    <select id="meetReplyCount" resultType="int">
        SELECT COUNT(*)
        FROM reply
        WHERE m_article_id = #{meetArticleId}
    </select>
</mapper>

