<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/member/mypageTemplate :: mypageTemplate(~{this :: title}, ~{this :: script},  ~{this :: css}, ~{this :: content})}">

<head>
    <title th:fragment="title"> ::: 마이페이지 ::: </title>
    <th:block th:fragment="script">
    </th:block>
    <th:block th:fragment="css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/member.css">
    </th:block>
</head>

<div class="mypage-container" th:fragment="content">
    <div class="mypage-info-wrap">
        <div class="mypage-title">대표사진 변경</div>
        <form class="edit-form" method="post" name="editPictureForm" th:object="${editPictureForm}" enctype="multipart/form-data">
            <div id="edit-picture-wrap">
                <img id="edit-profile-picture" th:src="@{/member/image/{fileName}(fileName=${session.loginMember.storePicture})}">
                <div id="mypage-file-uploder">
                    <input id="mypage-file-upload" name="profileImage" type="file">
                </div>
            </div>
            <hr>
            <div class="edit-btn-wrap">
                <button class="back-btn" type="reset">취소하기</button>
                <button class="register-btn" type="submit">수정하기</button>
            </div>
        </form>
    </div>
</div>

</html>










