<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/member/mypageTemplate :: mypageTemplate(~{this :: title}, ~{this :: script},  ~{this :: css}, ~{this :: content})}">

<head>
    <title th:fragment="title"> ::: 마이페이지 ::: </title>
    <th:block th:fragment="script">
        <script src="/js/edit_passwd.js" defer></script>
    </th:block>
    <th:block th:fragment="css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/member.css">
    </th:block>
</head>


<div class="mypage-container" th:fragment="content">
    <div class="mypage-info-wrap">
        <div class="mypage-title">비밀번호 변경</div>
        <form class="edit-form"  method="post" th:object="${editPasswdForm}">
            <div class="mypage-edit-wrap">
                <label for="edit-oldPasswd">현재 비밀번호 </label>
                <input id="edit-oldPasswd"  class="mypage-edit-passwd" type="password" th:field="*{oldPasswd}" placeholder="현재 비밀번호를 적어주세요.">
            </div>
            <p class="notice" th:text="${unCorrectPw}"></p>
            <div id="confirmPasswdDup"></div>
            <hr class="blank-hr">
            <div class="mypage-edit-wrap">
                <label for="edit-newPasswd">변경 비밀번호 </label>
                <input id="edit-newPasswd" class="mypage-edit-passwd" type="password" th:field="*{newPasswd}" placeholder="변경할 비밀번호를 적어주세요.">
            </div>
            <hr>
            <div class="mypage-edit-wrap">
                <label for="edit-confirmPasswd">비밀번호 확인</label>
                <input id="edit-confirmPasswd" class="mypage-edit-passwd" type="password" th:field="*{confirmPasswd}" placeholder="비밀번호를 한번 더 적어주세요.">
            </div>
            <p class="notice" th:text="${notSamePw}"></p>
            <p class="notice" th:text="${unChangePw}"></p>
            <div id="editPasswdDup"></div>
            <hr>
            <div class="edit-btn-wrap">
                <button class="back-btn" type="reset">취소하기</button>
                <button class="register-btn" type="submit">수정하기</button>
            </div>
        </form>
    </div>
</div>

</html>










