<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/template :: template(~{this :: title}, ~{this :: script},  ~{this :: css}, ~{this :: content})}">

<head>
    <title th:fragment="title"> :::임시비밀번호 발급 안내::: </title>
    <th:block th:fragment="script">
    </th:block>
    <th:block th:fragment="css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/member.css">
    </th:block>
</head>


<section id="section" th:fragment="content">
    <div class="searchId-result-wrap">
        <h1 class="searchPasswd-result">[<span class="searchId-text" th:text="${memberEmail}"></span>]로 임시 비밀번호를 발송했습니다.</h1>
        <h1 class="searchPasswd-info">임시 비밀번호 확인 후, 로그인 부탁드립니다.</h1>
        <div class="register-btn-wrap">
            <button class="back-btn" type="reset"><a class="home-btn" href="/">홈으로</a></button>
            <button class="register-btn" type="submit">비밀번호 찾기</button>
        </div>
    </div>
</section>

</html>










