<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/template :: template(~{this :: title}, ~{this :: script},  ~{this :: css}, ~{this :: content})}">

<head>
    <title th:fragment="title"> ::: 회원가입 ::: </title>
    <th:block th:fragment="script">
    </th:block>
    <th:block th:fragment="css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/member.css">
    </th:block>
</head>


<div class="wrapper" th:fragment="content">
    <div id="signup-wrap">
        <h1 class="title-text">회원 가입</h1>
        <form name="register-form" method="post" th:object="${memberForm}">
            <fieldset id="signup-fieldset">
                <div id="signup-content">
                    <ul id="signup-list">
                        <li class="signup-info">
                            <label for="signup-id">아이디</label>
                            <input class="signup-input" name="memberId" type="text" id="signup-id" size="20"
                                   placeholder="아이디를 입력해주세요." minlength="2"
                                   maxlength="10" autofocus required>
                        </li>
                        <li class="signup-info">
                            <label for="signup-name">이름</label>
                            <input class="signup-input" name="name" type="text" id="signup-name" size="20"
                                   placeholder="이름을 입력해주세요." minlength="2"
                                   maxlength="10" autofocus required>
                        </li>
                        <li class="signup-info">
                            <label for="signup-nickname">별명</label>
                            <input class="signup-input" name="nickname" type="text" id="signup-nickname" size="20"
                                   autofocus
                                   required placeholder="별명(닉네임)을 입력해주세요.">
                        </li>
                        <li class="signup-info">
                            <label for="signup-pw">비밀번호</label>
                            <input class="signup-input" name="memberPasswd" type="password" id="signup-pw"
                                   placeholder="비밀번호를 입력해주세요." required o>
                        </li>
                        <li class="signup-info">
                            <label for="signup-pw-confirm">비밀번호 확인</label>
                            <input class="signup-input" type="password" id="signup-pw-confirm"
                                   placeholder="비밀번호를 한번 더 입력해주세요.">
                        </li>
                        <li class="signup-info">
                            <label for="signup-address">주소</label>
                            <div id="signup-address">
                                <input class="signup-radio" type="radio" name="memberAddress" id="signup-hagye"
                                       value="하계동">
                                <label for="signup-hagye">하계동</label>
                                <input class="signup-radio" type="radio" name="memberAddress" id="signup-junggye"
                                       value="중계동">
                                <label for="signup-junggye">중계동</label>
                                <input class="signup-radio" type="radio" name="memberAddress" id="signup-sanggye"
                                       value="상계동">
                                <label for="signup-sanggye">상계동</label>
                                <input class="signup-radio" type="radio" name="memberAddress" id="signup-wolgye"
                                       value="월계동">
                                <label for="signup-wolgye">월계동</label>
                                <input class="signup-radio" type="radio" name="memberAddress" id="signup-gongneung"
                                       value="공릉동">
                                <label for="signup-gongneung">공릉동</label>
                            </div>
                        </li>
                        <li class="signup-info">
                            <label for="signup-gender">성별</label>
                            <div id="signup-gender">
                                <input class="signup-radio" type="radio" name="gender" id="signup-women"
                                       value="W">
                                <label for="signup-women">여성</label>
                                <input class="signup-radio" type="radio" name="gender" id="signup-men"
                                       value="M">
                                <label for="signup-men">남성</label>
                            </div>
                        </li>
                        <li class="signup-info">
                            <label for="signup-pw-confirm">생년월일</label>
                            <input class="signup-input" type="date" name="birthDate">
                        </li>
                        <li class="signup-info">
                            <label for="signup-email">이메일</label>
                            <input class="signup-input" name="email" type="email" id="signup-email"
                                   placeholder="이메일">
                        </li>
                    </ul>
                </div>
            </fieldset>
            <div class="register-btn-wrap">
                <button class="back-btn" type="reset">돌아가기</button>
                <button class="register-btn" type="submit">가입하기</button>
            </div>
        </form>
    </div>
</div>

</html>










