/*----------------------------CHAT-----------------------------------*/

#chat-container{
    display: flex;
    width: 1400px;
    min-width: 1400px;
    margin: 0px auto;
}

#chat-member-list{
    width: 470px;
    background-color: #eaeaea;
    padding: 20px;
    height: 770px;
    max-height: 770px;
}

.chat-list-area{
    overflow-y: scroll;
    width: 490px;
    height: 700px;
    max-height: 700px;
}

#chat-search{
    display: flex;
    justify-content: space-between;
    width: 430px;
    margin: 0px auto;
}

#chat-search-bar{
    width: 300px;
    height: 50px;
    font-size: 25px;
    padding: 0px 20px;
}

#chat-search-btn{
    width: 70px;
    height: 50px;
    align-items: center;
    font-size: 25px;
}

.chat-member{
    margin: 10px auto;
    width: 400px;
    height: 70px;
    background-color: white;
    padding: 20px;
    display: flex;
}

.chat-member-img{
    width: 70px;
    height: 70px;
}

.chat-list-info{
    padding: 0px 10px;
}

.chat-list-name{
    font-size: 30px;
    font-weight: bolder;
}

.chat-list-message{
    font-size: 20px;
    margin: 5px 0px;
}

.chat-bar{
    width: 900px;
    background-color: #f6f6f6;
    height: 800px;
    max-height: 800px;
}

.chat-current-member{
    height: 70px;
    background-color: #faeadd;
    display: flex;
    padding: 10px 20px;
    align-items: center;
}

.chat-cureent-name{
    font-size: 30px;
    padding: 0px 10px;
    font-weight: bolder;
}

.message-data{
    display: flex;
    margin: 5px 0;
}

.message-data-time{
    color: gray;
    margin-right: 20px;
    font-size: 20px;
}

.message-data-member{
    font-weight: bolder;
    font-size: 20px;
}

.chat-history{
    height: 550px;
    max-height: 550px;
    min-height: 550px;
    padding: 20px;
    overflow-y: scroll;
}


.chat-message-list{
    margin: 10px 0;
}

.chat-message-text{
    background-color: white;
    padding: 20px;
    border-radius: 20px 20px 0px 20px;
    font-size: 30px;
}

.chat-send-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-to-send{
    font-size: 25px;
    padding: 10px;
    margin-right: 20px;
}


.message-send-btn{
    width: 80px;
    height: 100px;
    font-size: 25px;
}