/*--------------------폰트--------------------------*/
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NPSfontBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/*----------------------------PAGENATION---------------------------*/


.pagination{
    display: flex;
    margin: 30px auto;
    justify-content: center;
}

.page-item{
    padding: 0px 15px;
    font-size: 25px;
    cursor: pointer;
}

.page-item > a{
    color: #ff8c18;
}

.page-item >a:hover{
    font-weight: bolder;
    font-size: 30px;
    color: #ff8c18;
}

.page-item >a:visited{
    color: black;
}

/*-----------------------------------------------------*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Pretendard-Regular';
    text-decoration: none;
    color: black;
}

ul, li{
    list-style: none;
}

:visited{
    color: black;
}

.title-text{
    font-size: 100px;
    font-family: 'Cafe24Ssurround';
    text-align: center;
    margin: 70px 0;
}

form, fieldset{
    outline: none;
    border: none;
}

#main-banner-img{
    display: flex;
    margin: 0px auto;
}

textarea{
    resize: none;
}

.wrapper{
    min-height: 80vh;
}

section{
    min-height: 80vh;
}

/*-------------------------BTN---------------------*/
.register-btn-wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.back-btn{
    width: 200px;
    height: 70px;
    margin: 20px;
    font-size: 30px;
}

.register-btn{
    width: 200px;
    height: 70px;
    margin: 20px;
    font-size: 30px;
    background-color: #fd8b18;
    border: none;
}

.home-btn{
    display: block;
}


/*--------------------------CHECK-BOX-------------------------------*/



/*----------------------------프로필----------------*/
.member-profile{}

.member-profile:hover ul{
    display: block;
    background-color: white;
    border: 1px solid gray;
    position: absolute;
    font-size: 25px;
    font-weight: normal;
}

.member-profile >ul >li{
    padding: 10px 20px;
}

.member-profile >ul >li:hover{
    background-color: #eaeaea;
}

.perid{
    display: none;
}

/*-------------------------------NAV--------------------------*/

nav{
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: #ff8c18;
}


.nav-bar{
    position: fixed;
    width: 100%;
    min-width: 1400px;
    height: 70px;
    align-content: center;
    display: flex;
    background-color: #ff8c18;
    justify-content: space-between;
}



.index-nav-bar{
    margin: 0px auto;
    width: 1400px;
    min-width: 1400px;
    height: 70px;
    align-content: center;
    display: flex;
    justify-content: end;
}


#nav-menu{
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 70px;
}

#nav-menu a{
    font-family: 'Cafe24Ssurround';
    font-size: 30px;
    margin: 0px 10px;
}

#nav-menu a:visited{
    color: black;
}

#nav-menu a:hover{
    color: white;
}


.nav-member{
    align-content: center;
    padding-right: 70px;
}


.nav-signup{
    align-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    width: 230px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.91);
    margin: 10px;
    padding: 8px 35px;
    border-radius: 10px;
}

.nav-login-info{
    align-content: center;
    text-align: end;
    font-size: 30px;
    font-weight: bolder;
    width: 230px;
    height: 50px;
    margin: 10px;
    padding: 8px;
}

.nav-signup:visited, #nav-login:visited{
    color: black;
}

.nav-login{
    align-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    width: 100px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.91);
    margin: 10px;
    padding: 8px 25px;
    border-radius: 10px;
}

.nav-logout{
    align-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    width: 100px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.91);
    margin: 10px;
    padding: 8px 25px;
    border-radius: 10px;
}

#nav-signup{
    align-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    width: 230px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.91);
    margin: 10px;
    padding: 0px 10px;
    border-radius: 10px;
}

#nav-signup:visited, #nav-login:visited{
    color: black;
}

#nav-login{
    align-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    width: 100px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.91);
    margin: 10px;
    padding: 0px 10px;
    border-radius: 10px;
}

.member-nav{
    list-style: none;
    display: flex;
    /*color: black;*/
    color: white;
    justify-content: end;
    font-size: 30px;
    font-weight: bolder;
}

.member-nav li{
    width: 220px;
    height: 50px;
    text-align: end;
}

#main-intro{
    height: 400px;
    text-align: center;
    align-content: center;
    font-size: 70px;
}

#main-category{
    display: flex;
    margin: 0px auto;
    width: 1400px;
    height: 500px;
    min-width: 1400px;
    background-color: #eaeaea;
}

.category-btn{
    margin: auto;
    height: 400px;
    width: 450px;
    background-color: rgba(202, 202, 202, 0.62);
    align-content: center;
}

.category-btn:hover{
    background-color: rgb(253, 180, 107);
}

.category-btn a:visited{
    color: black;
}

.category-content{
    text-align: center;

}

.category-content img{
    width: 250px;
    height: 250px;
}

.category-title{
    font-family: 'Cafe24Ssurround';
    font-size: 50px;
}

.category-subtitle{
    font-size: 20px;
}

/*---------------------------PROFILE_IMG-----------------------------*/
.profile-img{

}


/*-----------------------------FOOTER-------------------------------*/
footer{
    position: relative;
    height: 150px;
    transform: translateY(0%);
    background-color: #303030;
}