/*-----------------------LOGIN---------------------*/
#login-wrap{
    margin: auto;
    width: 1400px;
    min-width: 1400px;
    outline: none;
    height: 750px;
}

#login-fieldset{
    border: none;
}

#login-div{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 100px auto;
}

.login-input{
    height: 80px;
    font-size: 40px;
    padding: 0px 20px;
}

#loginId{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#loginPasswd{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#rememberLoginId{
    width: 25px;
    height: 25px;
}

#login-function{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    margin: 20px 0;
}

#login-btn{
    background-color: #fd8b18;
    border: none;
    font-weight: bolder;
}

/*----------------------------SignUp---------------------------------*/
#signup-wrap{
    margin: 0px auto;
    width: 1400px;
    min-width: 1400px;
}

#signup-content{
    margin: 0px auto;
    width: 850px;
    font-size: 50px;
    padding: 30px 0;
}

#signup-fieldset{
    margin: 0px auto;
    border: 1px solid lightgray;
    width: 1200px;
}

#signup-list{
    list-style: none;
}

.signup-info{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.signup-input{
    width: 500px;
    font-size: 30px;
    padding: 0px 20px;
}

#signup-gender{
    display: flex;
    width: 540px;
    align-items: center;
    font-size: 30px;
}

#signup-address{
    font-size: 25px;
    align-content: center;
    width: 540px;
}

#signup-gender >input{
    margin-right: 20px;
}

.signup-radio{
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.signup-radio:checked{
    border: 10px solid tomato;
}

#signup-gender >label{
    margin-right: 20px
}

#signup-birth{
    width: 540px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#signup-birth select{
    height: 70px;
    width: 160px;
    font-size: 30px;
    text-align: center;
}

/*-------------------------RESULT----------------------*/
#result-wrap{
    margin: 0px auto;
    width: 1200px;
    min-width: 1200px;
}

#result-text{
    font-size: 50px;
    text-align: center;
    margin: 50px auto;
}

#result-member-id{
    color: #ff8c18;
    font-weight: bolder;
}

#result-fieldset{
    margin: 0px auto;
    padding: 50px;
    width: 1000px;
    background-color: #eaeaea;
}

#result-info{
    font-size: 50px;
    width: 800px;
    margin: 0px auto;
}

.result-list{
    display: flex;
    margin: 20px 0;
}

.result-list-title{
    font-weight: bolder;
    width: 300px;
}

#result-btn{
    display: block;
    width: 400px;
    height: 80px;
    text-align: center;
    align-content: center;
    font-size: 50px;
    font-weight: bolder;
    background-color: #ff8c18;
    margin: 20px auto;
}

/*--------------------MY-PAGE-------------------*/
#mypage-wrap{
    width: 1400px;
    min-width: 1400px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
}

.mypage-aside-container{
    width: 300px;
    font-size: 30px;
    padding: 30px;
    border-left: 1px solid #eaeaea;
    border-right: 2px solid #eaeaea;
}

#mypage-member{
    width: 240px;
    height: 220px;
    margin: 0px auto;
    background-color: white;
    text-align: center;
    align-content: center;
}

#mypage-member-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#mypage-member-email{
    color: #5F5F5F;
    font-size: 20px;
}

.mypage-menu-list{
    padding: 20px;
    margin-top: 10px;
    font-size: 35px;
}

.mypage-menu-list >li{
    margin: 10px 0;
    padding: 10px;
}

.mypage-menu-list >li:hover{
    background-color: #eaeaea;
}

.mypage-menu-list > li:hover > .mypage-sub-list{
    display: block;
}

.mypage-menu-list > li:hover > a{
    font-weight: bolder;
}

.mypage-menu-list > li > a{
    display: block;
}

.mypage-sub-list{
    display: none;
}

.mypage-sub-list:hover{
    display: block;
}

.mypage-sub-list li{
    padding-left: 20px;
    margin: 10px 0;
}

.mypage-sub-list >li >a{
    display: block;
    width: 200px;
}

.mypage-sub-list >li >a:hover{
    display: block;
    width: 200px;
    font-weight: bolder;
}

.mypage-container{
    width: 1040px;
    min-height: 800px;
    background-color: rgba(234, 234, 234, 0.58);
}

.mypage-info-wrap{
    width: 800px;
    margin: 30px auto;
    padding: 30px 50px;
    border: 1px solid lightgray;
    border-radius: 20px;
    background-color: white;
}

.mypage-title{
    font-size: 50px;
    font-weight: bolder;
    margin: 20px 0;
}

#mypage-basic-profile{
    display: flex;
    padding: 20px 0;
}

#mypage-basic-profile-info{
    padding-left: 20px;
    align-content: center;
}

#mypage-basic-profile-img{
    width: 70px;
    height: 70px;
}

#mypage-profile-id{
    font-size: 30px;
}

#mypage-profile-email{
    font-size: 25px;
    color: #5F5F5F;
}

.mypage-basic-wrap{
    display: flex;
    font-size: 30px;
    padding: 20px 0;
}

.mypage-basic-title{
    width: 150px;
    color: #5F5F5F;
}

.mypage-basic-content{
    width: 650px;
}

hr{
    background-color: #b1b1b1;
    height: 1px;
    border: 0;
}

/*-------------------------EDIT---------------------------*/
.mypage-edit-wrap{
    font-size: 35px;
    align-content: center;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.mypage-edit-wrap label{
    display: block;
    width: 220px;
    align-content: center;
}

.mypage-edit-text{
    font-size: 30px;
    width: 600px;
    height: 50px;
    padding: 0px 10px;
}

.introduce-textarea{
    width: 600px;
    resize: none;
    font-size: 30px;
    padding: 10px;
}

.edit-form{
    margin: 40px 0;
}

.edit-btn-wrap{
    text-align: center;
    margin-bottom: -40px;
}

#edit-profile-picture{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#edit-picture-wrap{
    margin: 20px 0px;
    align-content: center;
    display: flex;
}

#mypage-file-uploder{

}

#mypage-file-upload{
    padding-left: 20px;
    font-size: 25px;
}

.mypage-edit-passwd{
    font-size: 30px;
    width: 500px;
    height: 50px;
    padding: 0px 10px;
}

.blank-hr{
    margin-bottom: 100px;
}