<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text=" '덕재 지각하지마!!!!' "  style="color:red" th:style=" 'color:blue' ">안녕하세요..... 타임리프</h1>
<h1 th:text=" ${message} ">안녕하세요..... 타임리프</h1>
<h1 th:text=" ${today} ">안녕하세요..... 타임리프</h1>

<h1 th:text=" '<b>헐</b>' ">안녕하세요..... 타임리프</h1>
<h1 th:utext=" '<b>헐</b>' ">안녕하세요..... 타임리프</h1>

<!--인라인 표현식 -->
<div>[[ '테스트' ]]</div>

<!-- 타임리프 리터럴 표현식 -->
<p th:text="  10 + (20  + '바보')  ">테스트입니다...</p>
<p th:text="  true  ">테스트입니다...</p>

<p th:text=" |안녕하세요. ${today}님 | ">내용입니다...</p>

<p th:text=" true or false">내용입니다...</p>

<div th:with=" a=10, b=20 ">
    <p th:text=" ${a} + ${b} ">xxxxxxxxxx</p>
    <p th:text=" ${a} ">xxxxxxxxxx</p>
</div>

<span th:text=" 10 == 10 ">xxxxx</span>
<span th:text=" 10 != 10 ">xxxxx</span>

<span th:text=" 10==10 ? '같다': '다르다' ">xxxxx</span>
<span th:text=" 10!=10 ?: '다르다' ">xxxxx</span>

<!--타임리프 제어 속성들 -->
<div th:if=" ${score} >= 60 ">
    <p>통과</p>
</div>

<div th:unless=" ${score} <= 60 " th:text="실패">등급</div>

<p th:text=" ${score} / 10 "> </p>

<div th:switch=" ${score / 10 }">
    <p th:case="10">수</p>
    <p th:case="9">수</p>
    <p th:case="8">우</p>
    <p th:case="7">미</p>
    <p th:case="6">양</p>
    <p th:case="*">가</p>
</div>

<table border="1">
    <tr th:each=" member, status :  ${list} ">
        <td th:text="${status.count}">순번</td>
        <td th:text="${status.first}">첫넘</td>
        <td th:text="${member.id}">아이디</td>
        <td th:text="${member.name}">이름</td>
    </tr>
</table>

<table border="1">
    <tr th:each=" number :  ${#numbers.sequence(1, 10, 1)} ">
        <td th:text="${number}">순번</td>
    </tr>
</table>

<div th:with="x=100000000, y=343434335.3434343">
    <p th:text=" ${#numbers.formatInteger(x, 3, 'COMMA') } "></p>
    <p th:text=" ${#numbers.formatDecimal(y, 3, 'COMMA', 2, 'POINT') } "></p>
</div>

<h1 th:text=" ${ param.id } "></h1>
<h1 th:text=" ${ session.LoginId } "></h1>
<h1 th:text=" ${ @helloController } "></h1>

<div th:with="num=10">
    <a href="/xxxx" th:href="@{/hello(param1=${num},param2=value2)}">링크</a>
    <a href="/article/{articleNo}" th:href="@{/article/{articleNo}(articleNo=${num})}">게시판 상세</a>
</div>

<div th:attrappend=" xxx='yyy' " class="xyz" th:classappend="zzz" >
    내용 있어요....
</div>

<input type="checkbox" name="xxxx" th:checked=" false ">  </input>

<th:block th:each="member : ${list}">
    <h2 th:text="${member.name}">이름</h2>
    <p th:text="${member.id}">나이</p>
    <hr>
</th:block>

</body>
</html>










