<!-- place.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/template :: template(~{this :: title}, ~{this :: script}, ~{this :: css}, ~{this :: content})}">
<!-- 위의 줄은 현재 HTML 콘텐츠를 지정된 Thymeleaf 템플릿의 콘텐츠로 대체하는 Thymeleaf 지시어를 포함합니다. -->

<head>
    <!-- HTML 페이지의 제목 -->
    <title th:fragment="title"> ::: 우리동네 상세정보 ::: </title>

    <!-- JavaScript 가져오기 -->
    <th:block th:fragment="script">
        <!-- 카카오 맵 JavaScript SDK 가져오기 및 앱 키 포함 -->
        <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a091d5d3ac1b6ffddf41488f1e545f78&libraries=services"></script>
        <!-- 데이터를 JavaScript로 전달 -->
        <script defer type="text/javascript">
            const mapDto = {
                x: [[${mapDto.x}]],
                y: [[${mapDto.y}]],
                mapId: [[${mapDto.mapId}]]
            };
        </script>
        <!-- JavaScript 파일 가져오기 -->
        <!-- 이 스크립트는 지도 세부 정보와 후기를 처리합니다. -->
        <script defer type="text/javascript" th:src="@{/js/place.js}"></script>
        <!--        <script defer type="text/javascript" th:src="@{/js/review.js}"></script>-->

        <!-- 제출된 후기 내용을 콘솔에 출력하는 스크립트 -->
    </th:block>

    <!-- CSS 가져오기 -->
    <th:block th:fragment="css">
        <!-- 사용자 정의 CSS 파일 -->
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/map.css">
        <!-- 인라인 스타일 -->
        <style>
            /* 상단에 고정된 네비게이션 바 */
            nav {
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 10;
            }

            /* 지도 컨테이너에 대한 스타일링 */
            #place-map {
                position: relative;
                z-index: 1;
            }
        </style>
    </th:block>
</head>

<body>


<!-- 콘텐츠 래퍼 -->
<div class="wrapper" th:fragment="content">
    <!-- 메인 콘텐츠 영역 -->
    <div id="place-wrap">
        <!-- 장소 이름 -->
        <h1 class="title-text" id="place-name" th:text="${mapDto.placeName}"></h1>

        <!-- 장소 세부 정보 -->
        <div id="place-detail-wrap">
            <!-- 지도 컨테이너 -->
            <div id="place-map" style="position: relative; width: 100%; height: 350px;"></div>

            <!-- 장소 정보 -->
            <div id="place-info">
                <ul class="place-info-text">
                    <li class="place-info-title">주소</li>
                    <li id="places-address-name" th:text="${mapDto.addressName}"></li>
                </ul>
                <ul class="place-info-text">
                    <li class="place-info-title">도로명 주소</li>
                    <li id="place-road-address" th:text="${mapDto.roadAddressName}"></li>
                </ul>
                <ul class="place-info-text">
                    <li class="place-info-title">전화번호</li>
                    <li id="place-phone" th:text="${mapDto.phone}"></li>
                </ul>
                <ul class="place-info-text">
                    <li class="place-info-title">카테고리</li>
                    <li id="place-category" th:text="${mapDto.categoryName}"></li>
                </ul>
            </div>
        </div>


        <!-- 후기 영역 -->
        <div class="review-wrap">
            <!--            [[${reviewList}]]-->
            <h1>업체후기(<span th:text="${reviewList != null ? #lists.size(reviewList) : 0}"></span>)</h1>
            <div id="place-review">
                <!-- 로그인한 경우 후기 작성 폼 표시 -->
                <th:block th:if="${session.loginMember != null}">
                    <form id="reviewForm" name="addReview" th:object="${reviewForm}" action="javascript:addReview()">
                        <div class="write-review">
                            <div class="review-writer" th:text="|작성자: ${session.loginMember.nickname}|"></div>
                            <div class="review-text">
                                <textarea cols="76" rows="2" class="review-content" th:field="*{review}"></textarea>
                                <!-- 장소의 ID를 hidden input으로 전달 -->
                                <input type="hidden" id="x" name="x" th:value="${mapDto.x}">
                                <input type="hidden" id="y" name="y" th:value="${mapDto.y}">
                                <input type="hidden" th:id="placeId" name="placeId" th:value="${mapDto.placeId}">
                                <input type="hidden" id="placeName" name="placeName" th:value="${mapDto.placeName}">
                                <input type="hidden" th:id="addressName" name="addressName" th:value="${mapDto.addressName}">
                                <input type="hidden" id="mapId" name="mapId" th:value="${mapDto.mapId}">
                                <input type="hidden" th:id="roadAddressName" name="roadAddressName" th:value="${mapDto.roadAddressName}">
                                <button type="submit" class="write-review-btn" id="addBtn">등록</button>
                            </div>
                        </div>
                    </form>
                </th:block>
<!--                로그인하지 않은 경우 로그인 안내 표시-->
                <th:block th:if="${session.loginMember == null}">
                    <div class="write-review">
                        <form action="/member/login">
                            <div class="review-text">
                                        <textarea cols="76" rows="2" class="review-content" style="color: red"
                                                  th:text="'후기 작성은 로그인 후 가능합니다.'" disabled></textarea>
                                <button type="submit" class="write-review-btn">로그인</button>
                            </div>
                        </form>
                    </div>
                </th:block>


                <!-- 후기 목록 -->
                <div th:id="review-box">
                    <div class="review" th:each="review : ${reviewList}">
                        <div class="review-box">
                            <div>
                                <img class="commenter" th:src="@{/member/image/{picture}(picture=${review.profile})}">
                            </div>
                            <div>
                                <ul>
                                    <li class="review-writer" th:text="${review.nickname}"></li>
                                    <li class="review-content" th:text="${review.review}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // 후기 등록 함수
    const addReview = async function (e) {
        const review = {
            placeId: document.querySelector("#placeId").value,
            x: document.querySelector("#x").value,
            y: document.querySelector("#y").value,
            placeName: document.querySelector("#placeName").value,
            addressName: document.querySelector("#addressName").value,
            mapId: document.querySelector("#mapId").value,
            roadAddressName: document.querySelector("#roadAddressName").value,
            review: document.querySelector(".review-content").value
        };

        const listUpReview = function (result) {
            // 후기 DOM 처리
            const reviewListElem = document.querySelector("#review-box");

            const writerImg = document.createElement("img");
            writerImg.src = "/img/profile.png"
            writerImg.className = 'profile-img';

            const imgBox = document.createElement("div");
            imgBox.appendChild(writerImg);


            const reviewWriter = document.createElement("li");
            reviewWriter.classList.add("review-writer");
            reviewWriter.textContent = result.nickname;

            const reviewContent = document.createElement("li");
            reviewContent.classList.add("review-content");
            reviewContent.textContent = result.review;


            const ul = document.createElement("ul");
            ul.appendChild(reviewWriter);
            ul.appendChild(reviewContent);

            const reviewWrap = document.createElement("div");
            reviewWrap.appendChild(ul);

            const reviewBox = document.createElement("div");
            reviewBox.className = 'review';
            reviewBox.appendChild(imgBox);
            reviewBox.appendChild(reviewWrap);

            reviewListElem.appendChild(reviewBox);

            // 후기 입력란 초기화
            document.querySelector(".review-content").value = "";
        }

        const option = {
            method: "POST",
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(review)
        }
        console.log(option)

        const result = await httpRequest("/map/place/review/add", option);
        console.log(result);

        listUpReview(result);
    }
</script>
</body>
</html>

